:root {
  --prim-color: #9356DC;
  --second-color: #FF79DA;
  --ter-color: #99E2D0;
  --box-shadow: 0px 0px 5px 1px rgba(209, 209, 209, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */

header {
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 1;
}

.logo {
  text-align: center;
  padding: 20px;
}

.logo img {
  width: 50%;
}

/* Zone recherche */ 

::placeholder {
  color: black;
  font-size: 18px;
}

.zone {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #e6e3e3;
  position: relative;
}

.zoneRech {
  margin-left: 35%;
}

.zone i {
  font-size: 18px;
  padding-right: 20px;
}

.zone input {
  background-color: #e6e3e3;
  border: none;
  height: 60px;
}

/* Accroche */

.accroche input {
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  background-color: lightgrey;
}

.accroche {
  padding: 30px;
  text-align: center;
  background-color: rgb(243, 241, 241);
}

.accrocheText h1, .accrocheText p, .accrocheText button {
  margin: 20px;
}

.accroche p {
  font-size: 20px;
  color: grey;
}

.accroche h1 {
  font-size: 30px;
}

.accrocheText button {
  background: linear-gradient(var(--second-color), var(--prim-color));
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  width: 50%;
  border: none;
  color: white;
  min-width: 250px;
}

/* Fonctionnement */

.fonctionnement h2 {
  margin: 30px;
  margin-top: 50px;
}

.blocFonc {
  display: flex;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 15px;
  margin: 35px;
  width: 90%;
  border: none;
  box-shadow: var(--box-shadow);
}

.blocFonc h3 {
  width: 100%;
  text-align: center;
}

.blocFonc p {
  position: relative;
  left: -30px;
  width: 17px;
  padding: 5px;
  color: white;
  border-radius: 50px;
  background-color: var(--prim-color);
}

.blocFonc i {
  margin-right: 30px;
  font-size: 20px;
}

/* Restaurants */

.restaurants {
  background-color: rgb(243, 241, 241);
  padding-bottom: 50px;
}

.restaurants h2 {
  margin: 20px;
  margin-bottom: 0; /* améliorer les margin avec une valeur*/
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardResto {
  width: 90%;
  margin: 20px;
  background-color: white;
  border-radius: 15px;
}

.cardResto .info {
  padding: 15px;
}

.cardResto span {
  position: absolute;
  right: 10%;
  margin-top: 20px;
  background-color: var(--ter-color);
  padding: 7px;
  color: green;
  border-radius: 5px;
}

.cardResto img {
  width: 100%;
  max-height: 210px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
}

.coeurResto {
  font-size: 30px;
}

/* Footer */

footer {
  height: 100%;
  padding: 10px;
  background-color: rgb(49, 47, 47);
  color: white;
}

footer h2 {
  margin: 10px;
  font-family: 'Shrikhand';
}

footer nav a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

footer nav {
  display: flex;
  flex-direction: column;
}

.fa-utensils:before {
  margin-right: 17px;
}

.fa-hands-helping:before {
  margin-right: 10px;
}


/* LES DIFFÉRENTS MENUS */

.bodyMenu {
  background-color: #f8f6f6;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo i {
  font-size: 20px;
}

.logo img {
  margin: 0 60px;
}

.menu {
  background-color: #f8f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -50px;
  padding: 20px;
  height: 100%;
}

.menu h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'shrikhand';
  margin-bottom: 20px;
}

.imgMenu {
  max-height: 320px;
  width: 100%;
  object-fit: cover;
}

.commande {
  text-align: center;
}
.menu button {
  background: linear-gradient(var(--second-color), var(--prim-color));
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  border: none;
  color: white;
  min-width: 250px;
}

/* Entrées, plats et desserts*/

.entrees > h3, .plats > h3, .desserts > h3 {
  font-weight: normal;
}

.entrees > h3::after, .plats > h3::after, .desserts > h3::after {
    content: ""; 
    display: block;
    max-width: 45px;
    padding-top: 5px;
    border-bottom: 4px solid var(--ter-color);
}

.blocEnt {
  display: flex;
  flex-direction: column;
}

.blocs {
  margin-bottom: 50px;
  margin-top: 20px;
}

.bloc {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.bloc:hover .prixAnim {
  left: -50px;
  transition: 330ms ease-in-out;
}

.infoPlat {
  margin: 10px;
  margin-right: 0px;
  width: 100%;
  overflow: hidden;
}

.infoPlat h3, .infoPlat p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
}

.prixAnim {
  display: flex;
  position: relative;
  left: 60px;
  max-width: 100px;
}

.prixAnim span {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 11px;
  margin-right: 30px;
  font-weight: 600;
}

.prixAnim i {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  font-size: 30px;
  color: white;
  background-color: var(--ter-color);
  height: 74px;
  min-width: 100px;
  border-radius: 0 20px 20px 0px;
}

.fa-check-circle:before {
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
