:root {
  --prim-color: #9356DC;
  --second-color: #FF79DA;
  --ter-color: #99E2D0;
  --box-shadow: 0px 0px 5px 1px rgba(209, 209, 209, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */

.loadingBall {
  width: 100%;
  position: fixed;
  height: 100vh;
  text-align: center;
  background-color: white;
  animation: loadingAnim 5s;
  z-index: 20;
  animation-fill-mode: forwards;
}
.loadingBall div {
  margin-top: 50%;
  width: 30px;
  height: 30px; 
  display: inline-block;
  border-radius: 50%;
  background-color: var(--prim-color);
  animation: loading 3s ease-in-out;
  animation-fill-mode: both;
}

.loadingBall .bounce2 {
  animation-delay: 0.5s;
  background-color: var(--second-color);
}

.loadingBall .bounce3 {
  animation-delay: 1s;
  background-color: var(--ter-color);
}

@keyframes loadingAnim {
  0%{
    opacity: 1;
  }

  50% {
    opacity: 1;

  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loading {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

header {
  box-shadow: var(--box-shadow);
}

.logo {
  text-align: center;
  padding: 20px;
}

.logo img {
  width: 50%;
}

/* Zone recherche */ 

::placeholder {
  color: black;
  font-size: 18px;
}

.zone {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: #e6e3e3;
}

.zone i {
  font-size: 18px;
  padding-right: 20px;
}

.zone input {
  background-color: #e6e3e3;
  border: none;
  height: 60px;
}

/* Accroche */

.accroche input {
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  background-color: lightgrey;
}

.accroche {
  padding: 30px;
  text-align: center;
  background-color: rgb(243, 241, 241);
}

.accrocheText h1, .accrocheText p, .accrocheText button {
  margin: 20px;
}

.accroche p {
  font-size: 20px;
  color: grey;
}

.accroche h1 {
  font-size: 30px;
}

.accrocheText button {
  background: linear-gradient(var(--second-color), var(--prim-color));
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  width: 50%;
  border: none;
  color: white;
  min-width: 250px;
}

.accrocheText button:hover {
  background: linear-gradient(#fd90de,#9e69df); /* lighten avec sass*/
  box-shadow: var(--box-shadow);
}

/* Fonctionnement */

.fonctionnement h2 {
  margin: 30px;
  margin-top: 50px;
}

.blocFonc {
  display: flex;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 15px;
  margin: 35px;
  width: 90%;
  border: none;
  box-shadow: var(--box-shadow);
}

.blocFonc h3 {
  width: 100%;
  text-align: center;
}

.blocFonc p {
  position: relative;
  left: -30px;
  width: 17px;
  padding: 5px;
  color: white;
  border-radius: 50px;
  background-color: var(--prim-color);
}

.blocFonc i {
  margin-right: 30px;
  font-size: 20px;
}

/* Restaurants */
.coeurResto {
  position: relative;
  font-size: 30px;
  height: 32px;
}

.coeurResto:hover .heartBg {
  opacity: 1;
  transition: 2s;
}

.coeurResto:hover .heart {
  opacity: 0;
  transition: 1s;
}

.heartBg {
  position: absolute;
  opacity: 0;
  font-size:32px;
  top: 2px;
  right: -1px;
  color: var(--prim-color);
}

.restaurants {
  background-color: rgb(243, 241, 241);
  padding-bottom: 50px;
}

.restaurants h2 {
  margin: 20px;
  margin-bottom: 0; /* améliorer les margin avec une valeur*/
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardResto {
  width: 90%;
  margin: 20px;
  background-color: white;
  border-radius: 15px;
}

.cardResto .info {
  padding: 15px;
}

.cardResto span {
  position: absolute;
  right: 10%;
  margin-top: 20px;
  background-color: var(--ter-color);
  padding: 7px;
  color: green;
  border-radius: 5px;
}

.cardResto img {
  width: 100%;
  max-height: 210px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
}

/* Footer */

footer {
  height: 100%;
  padding: 10px;
  background-color: rgb(49, 47, 47);
  color: white;
}

footer h2 {
  margin: 10px;
  font-family: 'Shrikhand';
}

footer nav a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

footer nav {
  display: flex;
  flex-direction: column;
}

.fa-utensils:before {
  margin-right: 17px;
}

.fa-hands-helping:before {
  margin-right: 10px;
}


/* LES DIFFÉRENTS MENUS */

.bodyMenu {
  background-color: #f8f6f6;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo i {
  font-size: 20px;
}

.logo img {
  margin: 0 60px;
}

.menu {
  background-color: #f8f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -50px;
  padding: 20px;
  height: 100%;
}

.titreMenu {
  display: flex;
  justify-content: space-between;
}
.menu h1 {
  align-items: center;
  font-family: 'shrikhand';
  margin-bottom: 20px;
}

.imgMenu {
  max-height: 320px;
  width: 100%;
  object-fit: cover;
}

.commande {
  text-align: center;
}
.menu button {
  background: linear-gradient(var(--second-color), var(--prim-color));
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  border: none;
  color: white;
  min-width: 250px;
}

.menu button:hover {
  background: linear-gradient(#fd90de,#9e69df); /* lighten avec sass*/
  box-shadow: var(--box-shadow);
}

/* Entrées, plats et desserts*/

.entrees > h3, .plats > h3, .desserts > h3 {
  font-weight: normal;
}

.entrees > h3::after, .plats > h3::after, .desserts > h3::after {
    content: ""; 
    display: block;
    max-width: 45px;
    padding-top: 5px;
    border-bottom: 4px solid var(--ter-color);
}

.blocEnt {
  display: flex;
  flex-direction: column;
}

.blocs {
  margin-bottom: 50px;
  margin-top: 20px;
}

.entrees, .plats, .desserts {
  animation: fadein 2s ease-in-out;
  animation-fill-mode: backwards;
}

.bloc {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.bloc1 {
  animation-delay: 0s;
}

.bloc2 {
  animation-delay: 0.66s;
}

.bloc3 {
  animation-delay: 1.32s;
}

@keyframes fadein {
    0% {
      opacity: 0; 
      transform: translate(0, 10px); 
    }

    100% {
      opacity: 1; 
      transform: translate(0, 0);
    }
}


.bloc:hover .checkAnim {
  width: 30%;
}

.bloc:hover .checkAnim i {
  transform: rotate(1turn);
  transition: 400ms ease-in-out;
}

.checkAnim i {
  transform: rotate(0turn);
}

.infoPlat {
  margin: 10px;
  margin-right: 0px;
  width: 90%;
  overflow: hidden;
}

.infoPlat h3, .infoPlat p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
}

.prixAnim {
  display: flex;
  margin-right: 10px;
}

.prixAnim span {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 11px;
  font-weight: 600;
}

.checkAnim {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 250ms;
  width: 0;
  font-size: 30px;
  color: white;
  background-color: var(--ter-color);
  height: 74px;
  border-radius: 0 20px 20px 0px;
}

.fa-check-circle:before {
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
